:root {
    --backgroundColor: #2FA16D;
    --backgroundColorLighr: #eeede1;
    --colorFont:  #D8F0FC;
    --colorFontGreen: #2FA16D;
    --colorFontYellow: #e7ce3f;
    --shadowFont: 1px 1px 1px #00ffff, -1px -1px 1px #ff00ff, 1px 1px 1px #00ffff, -1px -1px 1px #ff0000;
    --font: "Lilex", monospace;
}